<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.felixhua.coinskyassistant.mapper.ItemMapper">
    <select id="selectAllItems" resultType="com.felixhua.coinskyassistant.entity.ItemPO">
        select * from item
    </select>
    <select id="selectItemsWithoutDescription" resultType="com.felixhua.coinskyassistant.entity.ItemPO">
        select * from item where description is null
    </select>
    <select id="selectItemsWithoutImg" resultType="com.felixhua.coinskyassistant.entity.ItemPO">
        select * from item where thumbnail_url is null
    </select>
    <select id="selectItemsWithIncompleteProperties" resultType="com.felixhua.coinskyassistant.entity.ItemPO">
        select * from item where name is null or description is null or price is null or create_time is null or thumbnail_url is null
    </select>
    <select id="checkItem">
        select count(*) from item where url = #{url}
    </select>
    <select id="getIdByUrl">
        select id from item where url = #{url}
    </select>
    <select id="selectItemById">
        select * from item where id = #{id}
    </select>
    <update id="updateItem">
        update item set description = #{description}, create_time = #{createTime},
        name = #{name}, price = #{price}, thumbnail_url = #{imgUrl} where id = #{id}
    </update>
    <insert id="insertItem">
        INSERT INTO item ( id, name, description, price, url, create_time, thumbnail_url )
        VALUES ( #{id}, #{name}, #{description}, #{price}, #{url}, #{createTime}, #{imgUrl} )
    </insert>
    <insert id="insertImages" parameterType="java.util.List">
        INSERT INTO images (item_id, img_url)
        VALUES
        <foreach collection="list" item="imagePO" separator=",">
            (#{imagePO.itemId}, #{imagePO.url})
        </foreach>
    </insert>
</mapper>